
<div class="flex justify-center page-desktop">
    <div class="container-desktop flex">
     
        <div class="container-menu">
            <p>Alimentaire</p>
            <p>Mobiliers</p>
            <p>Sols</p>
            <p>Graines</p>
            <p>Animaux</p>
            
        </div>

        <div class="desktop-right">
            <div class="flex row-reverse">
                <span class="material-symbols-outlined mr-10px color-close-button"
                (click)="closeDestop()">
                    cancel
                </span>
            </div>
        </div>

    </div>
</div>



